{% if books %}
    {% for book in books %}
        <h4 class="text-primary"><a href="{{ url_for('.show_book', book_id=book.id) }}">{{ book.name }}</a></h4>
        <p>
            {{ book.comment|striptags|truncate }}
            <small><a href="{{ url_for('.show_book', book_id=book.id) }}">Read More</a></small>
        </p>
        <small>
            Category: <a
                href="{{ url_for('.show_book_category', category_id=book.category.id) }}">{{ book.category.name }}</a>
            <span class="float-right">{{ moment(book.timestamp).format('LL') }}</span>
        </small>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="tip">
        <h5>No books yet.</h5>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('admin.new_book') }}">Add Now</a>
        {% endif %}
    </div>
{% endif %}